<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ride Information</title>
</head>
<body>
    <h1>Ride Information</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>Time</th>
            <th>Car Type</th>
            <th>Destination</th>
            <th>Acceptence</th>
        </tr>
        {% for ride in rides_info %}
        <tr>
            <td>{{ ride[0] }}</td>
            <td>{{ ride[1] }}</td>
            <td>{{ ride[2] }}</td>
            <td>{{ ride[3] }}</td>
            <td>{{ ride[4] }}</td>
            <td>{{ ride[5] }}</td>
            <td>{{ ride[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
